@import url('switzer.css');

:root {
    --darkblue: #1C4480;
    --lightblue: #5190EE;
    --white: #ffffff;
    --black: #000000;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    font-family: Switzer-Regular;
    background-color: var(--var(--black));
    cursor: none;
}

html {
    overflow-x: hidden;
}

.navbar-1 {
    grid-area: header1;
    align-self: end;

    p {
        font-family: Switzer-SemiBold;
        font-size: 34px;
        line-height: 115%;
        margin-bottom: 20px;
    }
}

.navbar-2 {
    grid-area: header2;

    p {
        font-family: Switzer-SemiBold;
        font-size: 34px;
        line-height: 115%;
        margin-bottom: 20px;
        text-align: right;
    }
}

.nav-container {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    margin-top: -130px;
    width: 100vw;
    height: 10vh;
}

#home {
    margin-top: -90px;
    height: 10vh;
}

.navbar {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    color: var(--var(--white));
    border-bottom: 1px solid var(--var(--white));
    grid-template-areas:
    "header1 header1 header1 . . . . header2 header2 header2 header2 header2";
}

.hero-section-1 {
    grid-area: hero1;
    p {
        font-size: 340px;
        font-family: Switzer-Bold;
        line-height: 74%;
        letter-spacing: -0.8rem;
        margin-top: 120px;
        position: relative;
        top: 1000px;
    }
}

.hero-section-2 {
    grid-area: hero2;
    align-self: start;
    position: relative;
    left: 700px;
    ul {
        list-style-type: none;
        margin-top: 130px;
        text-align: right;
        font-size: 26px;
        font-family: Switzer-Regular;
        line-height: 115%;
        position: relative;

        a {
            text-decoration: none;
            color: var(--var(--white));
        }
    }

    li::after {
        content: "🡦";
        position: absolute;
        opacity: 0;
        right: -5px;
        padding-right: 10px;
    }

    li:hover {
        padding-right: 28px;
        padding-left: 8px;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
    }


    li:hover:after {
        opacity: 1;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
    }

}

.hero-section-3 {
    grid-area: hero3;
    font-size: 340px;
    font-family: Switzer-Bold;
    line-height: 74%;
    letter-spacing: -0.8rem;
    position: relative;
    top: 1000px;
}

.hero-section-4 {
    grid-area: hero4;
    align-self: end;
    text-align: end;
    position: relative;
    left: 1000px;

    span {
        display: inline-block;
        background: var(--lightblue);
    }

    .left {
        width: 380px;
        height: 160px;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.1s;
    }

    .center {
        width: 180px;
        height: 160px;
        margin-left: 14px;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.1s;
    }

    .right {
        width: 80px;
        height: 160px;
        margin-left: 14px;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.1s;
    }

}

.hero-section-5 {
    grid-area: hero5;
    height: 10vh;
    background-color: var(--var(--black));
}

.hero-section-6 {
    grid-area: hero6;
    height: 10vh;
    background-color: var(--var(--black));
    border: none;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    top: 250px;
    border: 1px solid var(--var(--white));
}

.hero-section {
    padding-left: 70px;
    padding-right: 70px;
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    color: var(--var(--white));
    grid-template-areas:
    "hero1 hero1 hero1 hero1 hero1 hero1 hero1 hero1 . . . hero2"
    "hero3 hero3 hero3 hero3 hero3 hero3 hero3 hero4 hero4 hero4 hero4 hero4"
    "hero5 hero5 hero5 hero5 hero5 hero5 hero5 hero5 hero5 hero5 hero5 hero5"
    "hero6 hero6 hero6 hero6 hero6 hero6 hero6 hero6 hero6 hero6 hero6 hero6";
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 60;
    display: flex;
}

.bar {
    width: 10vw;
    height: 105vh;
    background: var(--white);
}

.counter {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 70;
    color: var(--black);
    padding: 0.2em 0.4em;
    font-size: 10vw;
    font-family: Switzer-Bold;
    letter-spacing: -0.4rem;
}

#about-container {
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    position: relative;
}

.about-1 {
    grid-area: about1;
    font-size: 24px;
    border: 1px solid var(--white);
    position: relative;
    text-transform: uppercase;
    font-family: Switzer-ExtraLight;
    font-size: 64px;
    padding: 10px 30px;

    img {
        width: 100%;
        height: 80%;
        margin-top: 8%;
        object-fit: cover;
    }
}

.about-2 {
    grid-area: about2;
    font-size: 48px;
}

.about-3 {
    grid-area: about3;
    font-size: 12px;

    p {
        padding-bottom: 60px;
    }
}

.about-con-wr {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--white);
    display: inline-flex;
    text-decoration: none;
    color: var(--white);
}

.about-5 {
    grid-area: about5;
}

.about-6 {
    grid-area: about6;
}

.about-7 {
    grid-area: about7;
}

.about-8 {
    grid-area: about8;
}

.about-wrapper {
    grid-area: about-wr;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    color: var(--white);
    font-family: Switzer-Regular;
    grid-template-areas:
    "about5 about5 about6 about6 about7 about7";
    
    div {
        border: 1px solid var(--white);
        height: 20vh;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 20px;
    }

    .h-about {
        font-size: 20px;
    }

    .counting {
        padding-top: 10px;
        font-size: 96px;
        font-family: Switzer-Regular;
        line-height: 90%;
        letter-spacing: -0.3rem;
        
    }
}

.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    color: var(--white);
    font-family: Switzer-Regular;
    grid-template-areas:
    "about1 about1 about1 about1 . . about2 about2 about2 about2 about2 about2"
    "about1 about1 about1 about1 . . about3 about3 . . . ."
    "about1 about1 about1 about1 . . . . . . . ."
    "about1 about1 about1 about1 . . . . . . . ."
    "about1 about1 about1 about1 . . . . . . . ."
    "about1 about1 about1 about1 . . . . . . . ."
    "about1 about1 about1 about1 . . about-wr about-wr about-wr about-wr about-wr about-wr";
}

#logo-container {
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    position: relative;
}

.logo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    color: var(--white);
    font-family: Switzer-Regular;
    grid-template-areas:
    "logo1 logo1 logo1 logo1 . . logo2 logo2 logo2 logo2 logo2 logo2"
    "logo1 logo1 logo1 logo1 . . logo2 logo2 logo2 logo2 logo2 logo2"
    "logo1 logo1 logo1 logo1 . . logo3 logo3 . logo4 logo4 ."
    "logo1 logo1 logo1 logo1 . . . . . . . ."
    "logo1 logo1 logo1 logo1 . . . . . . . ."
    "logo1 logo1 logo1 logo1 . . . . . . . ."
    "logo1 logo1 logo1 logo1 . . . . . . . ."
    "logo1 logo1 logo1 logo1 . . . . . . . ."
    "logo1 logo1 logo1 logo1 . . . . . . . ."
    "logo1 logo1 logo1 logo1 . . logo5 logo5 logo5 logo5 logo5 .";
}

.logo-1 {
    grid-area: logo1;
    font-size: 24px;
    border: 1px solid var(--white);

    text-transform: uppercase;
    font-family: Switzer-ExtraLight;
    font-size: 64px;
    padding: 10px 30px;

    img {
        width: 100%;
        height: 80%;
        margin-top: 8%;
        object-fit: cover;
    }
}

.logo-2 {
    grid-area: logo2;
    font-size: 48px;
}

.logo-3 {
    grid-area: logo3;
    font-size: 12px;
}

.logo-4 {
    grid-area: logo4;
    font-size: 12px;
}

.logo-5 {
    grid-area: logo5;
    font-size: 12px;
}

#colors-container {
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
}

.colors {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    color: var(--white);
    font-family: Switzer-Regular;
    grid-template-areas:
    "colors1 colors1 colors1 colors1 . . colors2 colors2 colors2 colors2 colors2 colors2"
    "colors1 colors1 colors1 colors1 . . colors2 colors2 colors2 colors2 colors2 colors2"
    "colors1 colors1 colors1 colors1 . . colors3 colors3 . . . ."
    "colors1 colors1 colors1 colors1 . . . . . . . ."
    "colors1 colors1 colors1 colors1 . . . . . . . ."
    "colors1 colors1 colors1 colors1 . . . . . . . ."
    "colors1 colors1 colors1 colors1 . . . . . . . ."
    "colors1 colors1 colors1 colors1 . . . . . . . ."
    "colors1 colors1 colors1 colors1 . . colors-wr colors-wr colors-wr colors-wr colors-wr colors-wr";
}

.colors-1 {
    grid-area: colors1;
    font-size: 24px;
    border: 1px solid var(--white);

    text-transform: uppercase;
    font-family: Switzer-ExtraLight;
    font-size: 64px;
    padding: 10px 30px;

    img {
        width: 100%;
        height: 80%;
        margin-top: 8%;
        object-fit: cover;
    }
}

.colors-2 {
    grid-area: colors2;
    font-size: 48px;
}

.colors-3 {
    grid-area: colors3;
    font-size: 12px;
}

.colors-5 {
    font-size: 12px;
    border: 1px solid var(--white);
    border-radius: 15px;
    width: 110px;
    height: 110px;
    position: relative;
    margin-right: 20px;

    .colors-box {
        background-color: var(--lightblue);
        border-radius: 10px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;
        padding: 20px;

        p {
            font-size: 16px;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.colors-6 {
    font-size: 12px;
    border: 1px solid var(--white);
    border-radius: 15px;
    width: 110px;
    height: 110px;
    position: relative;
    margin-right: 20px;

    .colors-box {
        background-color: var(--white);
        border-radius: 10px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;
        padding: 20px;

        p {
            font-size: 16px;
            color: var(--black);
            visibility: hidden;
            opacity: 0;
        }
    }
}

.colors-7 {
    font-size: 12px;
    border: 1px solid var(--white);
    border-radius: 15px;
    width: 110px;
    height: 110px;
    position: relative;

    .colors-box {
        background-color: var(--black);
        border-radius: 10px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;
        padding: 20px;

        p {
            font-size: 16px;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.colors-8 {
    font-size: 12px;
    border: 1px solid var(--white);
    border-radius: 15px;
    width: 110px;
    height: 110px;
    position: relative;
    margin-right: 20px;

    .colors-box {
        background-color: var(--darkblue);
        border-radius: 10px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;
        padding: 20px;

        p {
            font-size: 16px;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.colors-8:hover {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    width: 310px;

    .colors-box {
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        width: 300px;
        margin-left: -150px;

        p{
            visibility: visible;
            transition: 0.3s;
            transition-delay: 0.3s;
            opacity: 1;
            transition-timing-function: ease-in-out;
        }
    }
}

.colors-5:hover {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    width: 310px;

    .colors-box {
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        width: 300px;
        margin-left: -150px;

        p{
            visibility: visible;
            transition: 0.3s;
            transition-delay: 0.3s;
            opacity: 1;
            transition-timing-function: ease-in-out;
        }
    }
}

.colors-6:hover {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    width: 310px;

    .colors-box {
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        width: 300px;
        margin-left: -150px;

        p{
            visibility: visible;
            transition: 0.3s;
            transition-delay: 0.3s;
            opacity: 1;
            transition-timing-function: ease-in-out;
        }
    }
}

.colors-7:hover {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    width: 310px;

    .colors-box {
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        width: 300px;
        margin-left: -150px;

        p{
            visibility: visible;
            transition: 0.3s;
            transition-delay: 0.3s;
            opacity: 1;
            transition-timing-function: ease-in-out;
        }
    }
}

.colors-wrapper {
    grid-area: colors-wr;
    display: flex;
}

#typography-container {
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    background: var(--darkblue);
}

.typography {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    color: var(--white);
    position: relative;
    font-family: Switzer-Regular;
    grid-template-areas:
    "typ1 typ1 typ1 typ1 . . typ2 typ2 typ2 . . ."
    "typ1 typ1 typ1 typ1 . . typ5 typ5 . . . typ6"
    "typ1 typ1 typ1 typ1 . . . . . . . ."
    "typ1 typ1 typ1 typ1 . . typ4 . . . . ."
    "typ1 typ1 typ1 typ1 . . typ3 typ3 . . . .";
}

.typography-1 {
    grid-area: typ1;
    font-size: 24px;
    border: 1px solid var(--white);

    text-transform: uppercase;
    font-family: Switzer-ExtraLight;
    font-size: 64px;
    padding: 10px 30px;

    img {
        width: 100%;
        height: 80%;
        margin-top: 8%;
        object-fit: cover;
    }
}

.typography-2 {
    grid-area: typ2;
    font-size: 94px;
    font-family: Switzer-Bold;
}

.typography-3 {
    grid-area: typ3;
    font-size: 25px;
}

.typography-4 {
    grid-area: typ4;
    display: grid;
    font-size: 23px;

    #typ-reg {
        font-family: Switzer-Regular;
        font-size: 24px;
    }

    #typ-sem {
        font-family: Switzer-Semibold;
        font-size: 24px;
    }

    #typ-bol {
        font-family: Switzer-Bold;
        font-size: 24px;
    }

    #typ-exli {
        font-family: Switzer-Extralight;
        font-size: 24px;
    }
}

.typography-5 {
    grid-area: typ5;
    font-size: 12px;
}

.typography-6 {
    grid-area: typ6;
    font-size: 280px;
    position: absolute;
    top: 330%;
    right: -130%;
    -webkit-text-fill-color: var(--black);
}


#grid-container {
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    color: var(--white);
    font-family: Switzer-Regular;
    grid-template-areas:
    "grid1 grid1 grid1 grid1 . . grid2 grid2 grid2 grid2 grid2 grid2"
    "grid1 grid1 grid1 grid1 . . grid3 grid3 . . . ."
    "grid1 grid1 grid1 grid1 . . grbtn . . . . ."
    "grid1 grid1 grid1 grid1 . . grid5 grid5 grid5 grid5 . ."
    "grid1 grid1 grid1 grid1 . . grid5 grid5 grid5 grid5 . .";
}

.grid-1 {
    grid-area: grid1;
    font-size: 24px;
    border: 1px solid var(--white);

    text-transform: uppercase;
    font-family: Switzer-ExtraLight;
    font-size: 64px;
    padding: 10px 30px;

    img {
        width: 100%;
        height: 80%;
        margin-top: 8%;
        object-fit: cover;
    }
}

.grid-2 {
    grid-area: grid2;
    font-size: 48px;
}

.grid-3 {
    grid-area: grid3;
    font-size: 12px;
}

.grid-4 {
    grid-area: grid4;
    font-size: 12px;
}

#grid-img {
    grid-area: grid5;
    width: 100%;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid var(--white);
    transition: transform .2s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 50;
}

.grow, .grow-small {
    transform: scale(7);
    background: var(--lightblue);
    mix-blend-mode: lighten;
    border: none;
}

.grow-small {
    transform: scale(2.5);
}

#illust-container {
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
}

.illust {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    color: var(--white);
    font-family: Switzer-Regular;
    grid-template-areas:
    "illust1 illust1 illust1 illust1 . . illust2 illust2 illust2 illust2 illust2 illust2"
    "illust1 illust1 illust1 illust1 . . illust3 illust3 . . . ."
    "illust1 illust1 illust1 illust1 . . . . . . . ."
    "illust1 illust1 illust1 illust1 . . . . . . . ."
    "illust1 illust1 illust1 illust1 . . illwr illwr illwr illwr . .";
}

.illust-1 {
    grid-area: illust1;
    border: 1px solid var(--white);
    text-transform: uppercase;
    font-family: Switzer-ExtraLight;
    font-size: 64px;
    padding: 10px 30px;

    img {
        width: 100%;
        height: 80%;
        margin-top: 8%;
        object-fit: cover;
    }
}

.illust-2 {
    grid-area: illust2;
    font-size: 48px;
    
}

.illust-3 {
    grid-area: illust3;
    font-size: 12px;
}

.ill-wraper {
    grid-area: illwr;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    span {
        font-size: 120px;
    }
}

.ill-symbol {
    display: grid;
    align-self: center;
    border: 1px solid var(--white);
    padding: 10px;
    margin-right: 20px;
    width: 130px;
    min-height: 200px;

    span {
        text-align: center;
        margin-top: -20px;
    }

    p {
        font-size: 12px;
    }
}

#atr-container {
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
}

.atr {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    color: var(--white);
    font-family: Switzer-Regular;
    grid-template-areas:
    "atr1 atr1 atr1 atr1 . . atr5 atr5 atr7 . atr10"
    "atr1 atr1 atr1 atr1 . . atr6 atr8 atr9 atr12 atr11"
    "atr1 atr1 atr1 atr1 . . . . . . ."
    "atr1 atr1 atr1 atr1 . . . . . . ."
    "atr1 atr1 atr1 atr1 . . . . . . ."
    "atr1 atr1 atr1 atr1 . . atr13 atr13 . . ."
    "atr1 atr1 atr1 atr1 . . atr13 atr13 . . .";
}

.atr-1 {
    grid-area: atr1;
    font-size: 24px;
    border: 1px solid var(--white);
    text-transform: uppercase;
    font-family: Switzer-ExtraLight;
    font-size: 64px;
    padding: 10px 30px;

    img {
        width: 100%;
        height: 80%;
        margin-top: 8%;
        object-fit: cover;
    }
}

.atr-2 {
    grid-area: atr2;
    font-size: 12px;
    width: 100%;
    max-width: 130px;
    
}

.atr-3 {
    grid-area: atr3;
    font-size: 12px;
}

.atr-4 {
    grid-area: atr4;
    font-size: 12px;
}

.atr-5 {
    grid-area: atr5;
    font-size: 12px;

    img {
        width: 260px;
        height: 195px;
        object-fit: cover;
    }
}

.atr-6 {
    grid-area: atr6;
    font-size: 12px;

    img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
}

.atr-7 {
    grid-area: atr7;
    font-size: 12px;

    img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
}

.atr-8 {
    grid-area: atr8;
    font-size: 12px;

    img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
}

.atr-9 {
    grid-area: atr9;
    font-size: 12px;

    img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
}

.atr-10 {
    grid-area: atr10;
    font-size: 12px;

    img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
}

.atr-12 {
    grid-area: atr12;
    font-size: 12px;

    img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
}

.atr-13 {
    grid-area: atr13;
    font-size: 12px;
}

.atr-11 {
    grid-area: atr11;
    font-size: 450px;
    position: relative;
    top: 90%;
    right: -70%;
    z-index: 10;
    -webkit-text-fill-color: var(--darkblue);

    span {
        position: absolute;
        z-index: 10;
    }
}

.image {
    transition: .2s linear;
}

.image:hover {
    transform: scale(1.1);
}

.img-popup {
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
    z-index: 40;
    display: none;

    img {
        object-fit: cover;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid var(--white);
        border-radius: 5px;
    }

    span {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 80px;
        font-weight: normal;
        color: var(--white);
    }
}


#con-container {
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 45px;
    background-color: var(--darkblue);
    z-index: 30;
    position: relative;
}

.con {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    color: var(--white);
    
    font-family: Switzer-Regular;
    grid-template-areas:
    "con1 con1 con1 con1 con4 con4 con4 con4 con4 con4 con4 con4"
    "con1 con1 con1 con1 con4 con4 con4 con4 con4 con4 con4 con4"
    "con2 con2 con2 con2 con4 con4 con4 con4 con4 con4 con4 con4"
    "con3 con3 con3 con3 con3 con3 con3 con3 con3 con3 con3 con3";
}

.con-1 {
    grid-area: con1;
    font-size: 24px;
    border: 1px solid var(--white);
    width: 600px;
    height: 600px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: Switzer-Bold;
    font-size: 66px;
    padding-left: 20px;
}

.con-2 {
    grid-area: con2;
    font-size: 12px;
    border: 1px solid var(--white);
    width: 600px;
    height: 180px;
    display: flex;

    p {
        width: 100%;
        align-self: flex-end;
        font-size: 24px;
        padding: 24px;
    }
    
}

.con-3 {
    grid-area: con3;
    font-size: 12px;
    border: 1px solid var(--white);
    height: 30px;
    display: flex;
    width: 100%;

    #footer-left {
        width: 50%;
        top: 25%;
        left: 1%;
        position: relative;
    }

    #footer-right {
        text-align: right;
        width: 50%;
        top: 25%;
        right: 1%;
        position: relative;
    }
    
}

.con-4 {
    grid-area: con4;
    font-size: 12px;
    border: 1px solid var(--white);
    position: relative;
    
}

.contact-box {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin: 0 auto;
    position: relative;

    h2 {
        font-size: 96px;
        letter-spacing: -0.2rem;
        font-family: Switzer-Bold;
        text-transform: uppercase;
        padding-top: 40px;
        margin-bottom: 40px;
    }

    input {
        width: 100%;
        height: 50px;
        padding: 0.5rem 1rem;
        margin-bottom: 20px;
        border: 1px solid var(--white);
        outline: none;
        background-color: var(--darkblue);
        color: var(--white);
        font-size: 12px;
    }

    textarea {
        width: 100%;
        height: 200px;
        padding: 0.5rem 1rem;
        margin-bottom: 20px;
        border: 1px solid var(--white);
        outline: none;
        background-color: var(--darkblue);
        font-family: Switzer-Regular;
        color: var(--white);
        resize: none;
        font-size: 12px;
    }

    button {
        width: 100%;
        height: 50px;
        padding: 0.5rem 1rem;
        border: 1px solid var(--white);
        outline: none;
        background-color: var(--darkblue);
        color: var(--white);
        text-transform: uppercase;
    }

    button:hover {
        color: var(--black);
        background-color: var(--white);
        transition: .4s background-color;
        border: 1px solid var(--black);
    }

    ::placeholder {
        color: var(--white);
        opacity: 1; /* Firefox */
        text-transform: uppercase;
      }
      
      ::-ms-input-placeholder { /* Edge 12 -18 */
        text-transform: uppercase;
        color: var(--white);
      }
}

.grid-bars {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
}

.grid-bar {
    width: 130px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px;
    padding-bottom: 10px;
    text-align: center;
    display: grid;

    p {
        align-self: self-end;
        color: var(--white);
    }
}

.grid-margins {
    width: 60px;
    height: 100vh;
}

.grid-btn-container {
    grid-area: grbtn;
    z-index: 10;
    display: flex;
    align-items: start;
    justify-content: start;
}

.grid-btn {
    background-color: var(--white);
    width: 130px;
    height: 68px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
}

.grid-btn::before {
    position: absolute;
    content: '';
    background-color: var(--black);
    width: 58px;
    height: 58px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s ease-in-out;
}

input:checked + .grid-btn {
    background-color: var(--lightblue);
}

input:checked + .grid-btn::before {
    transform: translateX(62px);
    background-color: var(--white);
}

#check {
    display: none;
}

.grid-bar {
    opacity: 0;
}

.home-btn-a {
    text-decoration: none;
    color: var(--white);
    z-index: 20;
}

.home-btn-a:hover {
    .home-btn {
        background-color: var(--lightblue);
        transition: 0.4s background-color ease-in-out;
    }
}

.home-btn {
    width: 129px;
    height: 129px;
    border: 1px solid var(--white);
    top: 76%;
    left: 670px;
    position: sticky;
    position: -webkit-sticky;
    z-index: 20;
    display: grid;
    transition: 0.4s background-color ease-in-out;

    span {
        text-align: center;
        font-size: 96px;
    }

    span::before {
        content: "";
        top: 20px;
        right: 20px;
        border: 1px solid var(--white);
        background: var(--white);
        width: 80px;
        height: 5px;
        position: absolute;
    }
}

#home-layer {
    background: var(--black);
    z-index: 30;
    position: relative;
}

.split-line {
    overflow: hidden;
}

.split-parent {
    overflow: hidden;
}

.copy {
    position: relative;
    overflow: hidden;
}